body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(120deg,#2b5876,#4e4376);
color:white;
display:flex;
justify-content:center;
padding:30px;
}

.app{
width:800px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.search input{
padding:10px;
border:none;
border-radius:6px;
}

.search button{
padding:10px 15px;
border:none;
background:#00c6ff;
color:white;
border-radius:6px;
cursor:pointer;
}

.current-weather{
text-align:center;
background:rgba(255,255,255,0.12);
padding:25px;
border-radius:14px;
backdrop-filter:blur(10px);
}

.temp-row{
display:flex;
justify-content:center;
align-items:center;
gap:15px;
}

.temp-row img{
width:70px;
}

.stats{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:15px;
margin-top:20px;
}

.card{
background:rgba(255,255,255,0.12);
padding:15px;
border-radius:10px;
text-align:center;
}

.forecast{
margin-top:30px;
}

#forecastContainer{
display:flex;
gap:15px;
overflow-x:auto;
}

.day{
background:rgba(255,255,255,0.12);
padding:15px;
border-radius:10px;
min-width:110px;
text-align:center;
}

.day img{
width:40px;
}